{% extends 'base.html' %}
{% load static %}
{% block title %}FPC Committee{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/media/list_details.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}

{% block content %}
<section class="main-content">
    <div class="container body-content">

        <!-- Start Widget Section -->
        <section class="row page-section">

            <div class="col-sm-8 main-column events-page">
                <h3 class="title-text-uper"> ALL COMMITTEE MEMBER </h3>
                {% for n in member %}
                <article class="row" style="margin-bottom: 20px;">
                    <div class="col-sm-4">
                        <div class="post-image hover-box-container hb-effect-fade post-title">
                            
                                <img src="{{ n.member_image.url }}">



                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="post-title">
                           
                                <h2><b>Name:</b>{{ n.name }} </h2>
                           
                
                        <div class="post-excerpt">
                            <p></p>
                            <h4><b>Designation:</b>{{ n.designation }}</h4>
                            <h4><b>Semester:</b>{{ n.semester }}</h4>
                            
                            <p></p>

                            {% if request.user.is_authenticated %}

                            <div class="buttons1">

                                <button class="btn1"><a href="{% url 'committee_update' n.id %}">Update</a></button>


                            </div>

                            {% endif %}
                        </div>
                    </div> </div>
                </article>

                {% endfor %}

            </div>


			<div class="col-sm-4">
         
                <div class="widget widget-post-thumbs">
                    <h3 class="title-text-uper"> Recent News </h3>
                    <ul class="list-post-thumbs">
                        {% for n in recent_news %}

                        <li>
                            <a href="{% url 'news-details' n.id }">
                                <img src="{{ n.news_image.url }}" alt="fill">
                                <div>
                                    <p><strong>{{ n.title }}</strong> </p>
                                    <p></p> </br>
                                    <p>{{ n.subtitle }}</p><br>
                                    <small class="meta-text">{{ n.news_date|date:"M d,Y" }}</small>
                                    <p></p>
                                </div>
                            </a>
                        </li>
                        {% endfor%}

                    </ul>
                </div>

            </div>

        </section>

    </div>
</section>


{% endblock content %}

