.container {
    position: relative;
    width: 100%;
    padding: 100px 80px;
    background: white;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.white_bg {
    background: #0097B2;
    border-radius: 50px;
    opacity: 0.9;
    padding: 50px 35px;
}

.banner_main {
    padding: 30px 0 20px 0;
}

.text-bg {
    text-align: left;
} 


.text-bg h1 {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid rgb(192, 192, 192);
    color: #582C7E;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
}


.text-bg p {
    line-height: 28px;
    margin-top: 30px;
    padding-bottom: 50px;
    display: block;
    color: white;
    font-size: 17px;
}