{% extends 'base.html' %}
{% load static %}
{% block title %}FPC Notice{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/media/list_details.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}

{% block content %}
<section class="main-content">
    <div class="container body-content">

        {% if request.user.is_authenticated %}
        <div class="row">
            <div class="col-md-12">
                <div class="buttons" style="justify-content: flex-end;"> <button class="btn"><a
                            href="{% url 'notice_create' %}">Create New</a></button>
                </div>
            </div>
        </div>

        {% endif %}
        <!-- Start Widget Section -->
        <section class="row page-section">

            <div class="col-sm-12 main-column events-page">
                <h3 class="title-text-uper"> ALL NOTICE </h3>
                {% for n in notice %}
                <article class="row">
                   
                    <div class="col-sm-12">
                        <div class="post-title">
                            <a href="{% url 'notice_details' n.id %}" title="event title">
                                <h2>{{ n.title }} </h2>
                            </a>
                            <div class="post-meta">
                                <em class="date">Posted on {{ n.notice_date|date:"M d,Y" }}</em>
                            </div>
                        </div>
                        <div class="post-excerpt">
                            <p></p>
                         
                            <div id="newsContent"> <p>   {{ n.content|safe }}</p></div> 
                           <a id="readMoreBtn" class="read-more" href="{% url 'notice_details' n.id %}">Read More</button>
                            <p></p>

                            {% if request.user.is_authenticated %}

                            <div class="buttons1">

                                <button class="btn1"><a href="{% url 'notice_update' n.id %}">Update</a></button>

                                <button class="btn1"><a href="{% url 'notice_delete' n.id %}"></a>>Delete</a></button>


                            </div>

                            {% endif %}
                        </div>
                    </div>
                </article>



                {% endfor %}

                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center"></div>
                    </div>
                </div>

            </div>


        </section>

    </div>
</section>


{% endblock content %}

{% block script %}
<script>// You can remove the DOMContentLoaded event listener since we are not manipulating the DOM directly
    var newsContent = document.getElementById("newsContent");
    var readMoreBtn = document.getElementById("readMoreBtn");
    
    // Hide the excess content initially (This part is optional since the content will be loaded on a different page)
    var content = newsContent.innerHTML;
    var maxLength = Math.floor(content.length / 3); // Display only the first third
    var truncatedContent = content.substring(0, maxLength) + '...';
    var isTruncated = true;
    
    newsContent.innerHTML = truncatedContent;
    
    // Redirect to the news details page when the "Read More" button is clicked
    readMoreBtn.addEventListener("click", function(event) {
        // Prevent the default behavior of the link
        event.preventDefault();
        
        // Retrieve the URL from the href attribute of the link
        var url = readMoreBtn.getAttribute("href");
        
        // Redirect to the news details page
        window.location.href = url;
    });
    
</script>


{% endblock script %}

