{% extends 'base.html' %}
{% load static %}
{% block title %} 
{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/media/list_details.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

{% endblock %}


{% block content %}
<section class="main-content">
	<div class="container body-content">

		<!-- Start Widget Section -->
		<section class="row page-section">
			<div class="col-sm-8 main-column">

				<div class="page-header">
					<h3> {{ notice.title }} </h3>
					<p><small class="vert-middle feat-color" style="margin-top: 1px;">Posted on {{ notice.notice_date|date:"F d,Y" }}</small> </p>

				</div>

				<div class="row">
					<div class="col-sm-12">
						


	                <div id="carouselExampleControls" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
							<div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 318px; left: 0px; display: block; transition: all 1000ms ease 0s; transform: translate3d(0px, 0px, 0px);"><div class="owl-item" style="width: 159px;"><div>
								
							</div></div></div></div>

							
						<div class="owl-controls clickable" style="display: none;"><div class="owl-pagination"><div class="owl-page"><span class=""></span></div></div></div></div>



						
						<p></p><p>  {{ notice.content|safe }} </p><p></p>
					</div>
				</div>

				<hr>
					
			</div><!--/.main-column -->



			<div class="col-sm-4">
         
                <div class="widget widget-post-thumbs">
                    <h3 class="title-text-uper"> Recent notice </h3>
                    <ul class="list-post-thumbs">
                        {% for n in recent_notice %}

                        <li>
                            <a href="#">
                                <div>
                                    <p><strong>{{ n.title }}</strong> </p>
                                    <p></p> </br>
                                    <p> </p><br>
                                    <small class="meta-text">{{ n.notice_date|date:"M d,Y" }}</small>
                                    <p></p>
                                </div>
                            </a>
                        </li>
                        {% endfor%}

                    </ul>
                </div>

            </div>


		</section>

	</div><!-- /.container -->
</section>

{% endblock content %}