{% extends 'base.html' %}
{% load static %}
{% block title %}FPC News{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/media/list_details.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}

{% block content %}
<section class="main-content">
    <div class="container body-content">

        {% if request.user.is_authenticated %}
        <div class="row">
            <div class="col-md-12">
                <div class="buttons" style="justify-content: flex-end;"> <button class="btn"><a
                            href="{% url 'news_create' %}">Create New</a></button>
                </div>
            </div>
        </div>

        {% endif %}
        <!-- Start Widget Section -->
        <section class="row page-section">

            <div class="col-sm-12 main-column events-page">
                <h3 class="title-text-uper"> ALL NEWS </h3>
                {% for n in news %}
                <article class="row" style="margin-bottom: 20px;">
                    <div class="col-sm-4">
                        <div class="post-image hover-box-container hb-effect-fade post-title">
                            <a href="{% url 'news_details' n.id %}" class="hover-box" title="Insert Your Titles">
                                <img src="{{ n.news_image.url }}">

                                <div class="hover-box-content-container">
                                    <div class="hover-box-content" style="margin-top: 28px;">
                                        <em class="fa fa-link"></em>
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="post-title">
                            <a href="{% url 'news_details' n.id %}" title="event title">
                                <h2>{{ n.title }} </h2>
                            </a>
                            <div class="post-meta">
                                <em class="date">Posted on {{ n.news_date|date:"M d,Y" }}</em>
                            </div>
                        </div>
                        <div class="post-excerpt">
                            <p></p>
                            <h4>{{ n.subtitle }}</h4>
                            <p> {% with content_length=n.content|length %}
                                {{ n.content|slice:":"|safe }}
                                {% if content_length > 100 %}
                                {{ n.content|slice:":20"|safe }}
                                ...
                                {% endif %}
                                {% endwith %}
                            </p>
                            <p></p>

                            {% if request.user.is_authenticated %}

                            <div class="buttons1">

                                <button class="btn1"><a href="{% url 'news_update' n.id %}">Update</a></button>

                                <button class="btn1"><a href="{% url 'news_delete' n.id %}">Delete</a></button> 


                            </div>

                            {% endif %}
                        </div>
                    </div>
                </article>

                {% endfor %}

            </div>

        </section>

    </div>
</section>


{% endblock content %}