{% extends 'base.html' %}

{% load static %}
{% block title %}About FPC UAP{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

{% endblock %}


{% block content %}

<section class="main-content">
	<div class="container body-content">
		<section class="row page-section">
			<div class="col-sm-12">
				<h2 style="color: #9e0a0a; text-align: center;">About Film & Photography Club,UAP-CSE</h2>
                <h5 class="title-text-uper" style="margin-top:20px; text-decoration: underline;"> Introduction </h5>
                <p></p><p style="text-align: justify;">The Film & Photography Club, CSE-UAP of University of Asia Pacific is committed to spreading the knowledge of Photography & Videography and encouraging those students who are interested in photography. It helps to learn teamwork and coordination, promote ethics, rules of photography and express photography skills. FPC arranges “PhotoAdda” (Workshop), PhotoWalk, “The View Finder” (Photo Exhibition) every semester that includes competitions between students. 
                </p>
               <p style="text-align: justify;">The Club is organized and administered by the students while the faculty members provide organizational leadership for their club’s activities. Though the club arranges activities by self-supporting with the help of the Club-Committee and volunteers, the club is financially supported by the University of Asia Pacific. The club convener assist’s the club in fulfilling its goals and objectives
            </p><p></p>

            <h5 class="title-text-uper" style="margin-top:20px; text-decoration: underline;"> Purpose of the Club
            </h5>
            <p></p><p style="text-align: justify;">As the name suggests, the main goal of our club is to help students to show and improve their photography skills, techniques. We have our Facebook group where students can post their photos and show their artistic works and other members can suggest how to improve their skills. Club programs also help the participants and members to improve their teamwork skills.

            </p>
           <p></p>

           <h5 class="title-text-uper" style="margin-top:20px; text-decoration: underline;"> Club Committee

        </h5>
        <p></p><p style="text-align: justify;">Like every other Club of Department of CSE, University of Asia Pacific - the committees include:
        <ul style="text-align:justify;list-style-position: inside;">
            <li >Convener</li>
            <li >President</li>
            <li >Vice President</li>
            <li>General Secretary</li>
            <li >Tresurer</li>
            <li >Executive Member</li>
        </ul>

        </p>
       <p></p>


       <h5 class="title-text-uper" style="margin-top:20px; text-decoration: underline;">Club Programs


       </h5>

       <p></p><p>
        <ul style="text-align:justify;list-style-position: inside;">
            <ol> <b>1.PhotoWalk:</b> In this event we go somewhere with interested students & faculty members of our department to capture photos & also to learn about photography on hand.</ol>
            <ol> <b>2.Exhibition:</b> This is the biggest event of our club- well known as “The View Finder (TVF)”. Here we collect photos from students & faculties (from all departments). After that we put on an exhibition for two days. After finishing the exhibition, we declare 1st,2nd&3rd among 3 categories- DSLR, MOBIOGRAPHY & UAP DIARY.</ol>
            <ol> <b>3.Workshop: </b>In the workshop we learn about some skills. This year we have a photographer named “Azim khan Ronnie” as our instructor in the workshop. It was a great event for the students who are interested in photography.</ol>
        </ul>
        

        </p>
       <p></p>


			</div>






		</section>

	</div>
</section>
{% endblock content %}

