{% extends 'base.html' %}
{% load static %}
{% block title %}FPC Club{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/media/list_details.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}


{% block content %}

<div class="carousel">
    <!-- list item -->
    <div class="list">
        <div class="item">
            <img src="{% static 'assets/img2.jpg' %}">
            <div class="content">

                <div class="title">Film & Photography Club</div>
                <div class="topic">CSE-UAP</div>
                <div class="des"> Film & Photography Club, CSE UAP is a club from student. Department of Computer
                    Science & Engineering in University of Asia Pacific.
                </div>
            </div>
        </div>
        <div class="item">
            <img src="{% static 'assets/img3.jpg' %}">
            <div class="content">

                <div class="title">Film & Photography Club</div>
                <div class="topic">CSE-UAP</div>
                <div class="des"> Film & Photography Club, CSE UAP is a club from student. Department of Computer
                    Science & Engineering in University of Asia Pacific.
                </div>
            </div>
        </div>
        <div class="item">
            <img src="{% static 'assets/img4.JPG' %}">
            <div class="content">

                <div class="title">Film & Photography Club</div>
                <div class="topic">CSE-UAP</div>
                <div class="des"> Film & Photography Club, CSE UAP is a club from student. Department of Computer
                    Science & Engineering in University of Asia Pacific.
                </div>
            </div>
        </div>

        <div class="item">
            <img src="{% static 'assets/img01.JPG' %}">
            <div class="content">

                <div class="title">Film & Photography Club</div>
                <div class="topic">CSE-UAP</div>
                <div class="des"> Film & Photography Club, CSE UAP is a club from student. Department of Computer
                    Science & Engineering in University of Asia Pacific.
                </div>
            </div>
        </div>
    </div>

    <!-- list thumnail -->
    <div class="thumbnail">
        <div class="item">
            <img src="{% static 'assets/img3.jpg' %}">
            <div class="content">
                <div class="title">
                    Name Slider
                </div>
                <div class="description">
                    Description
                </div>
            </div>
        </div>
        <div class="item">
            <img src="{% static 'assets/img4.JPG' %}">
            <div class="content">
                <div class="title">
                    Name Slider
                </div>
                <div class="description">
                    Description
                </div>
            </div>
        </div>
        <div class="item">
            <img src="{% static 'assets/img01.jpg' %}">
            <div class="content">
                <div class="title">
                    Name Slider
                </div>
                <div class="description">
                    Description
                </div>
            </div>
        </div>
        <div class="item">
            <img src="{% static 'assets/img2.jpg' %}">
            <div class="content">
                <div class="title">
                    Name Slider
                </div>
                <div class="description">
                    Description
                </div>
            </div>
        </div>
    </div>
    <!-- next prev -->

    <div class="arrows">
        <button id="prev"><</button>
        <button id="next">></button>
    </div>
    <!-- time running -->
    <div class="time"></div>
</div>

<section class="main-content">
	<div class="container body-content">

		<!-- Start Widget Section -->
		<section class="row page-section">
            <div class="col-sm-6">
         
                <div class="widget widget-post-thumbs">
                    <h3 class="title-text-uper"> Recent News </h3>
                    <ul class="list-post-thumbs">
                        {% for n in recent_news %}

                        <li>
                            <a href="{% url 'news-details' n.id }">
                                <img src="{{ n.news_image.url }}" alt="fill">
                                <div>
                                    <p><strong>{{ n.title }}</strong> </p>
                                    <p></p> </br>
                                    <p>{{ n.subtitle }}</p><br>
                                    <small class="meta-text">{{ n.news_date|date:"M d,Y" }}</small>
                                    <p></p>
                                </div>
                            </a>
                        </li>
                        {% endfor%}

                    </ul>
                </div>

            </div>



			<div class="col-sm-6">
				<!-- Start Widget -->
				<div class="widget widget-post-thumbs">
					<h3 class="title-text-uper"> Recent Notice </h3>
					<ul class="list-post-thumbs">
						{% for n in recent_notice %}

						<li>
							<a href="#">

								<div>
									<p>{{ n.title }} </p>
									<p></p>
									<p> </p><br>
									<small class="meta-text">{{ n.notice_date|date:"M d,Y" }}</small>
									<p></p>
								</div>
							</a>
						</li>
						{% endfor %}

					</ul>
				</div>

			</div>


		</section>

	</div><!-- /.container -->
</section>

{% endblock content %}

{% block script %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock script %}