{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block style %}
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
<!-- Boxicons CSS -->
<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="{% static 'css/login.css' %}">


{% endblock %}

{% block msg %} 
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %}
{% endif %}

{% endblock msg %}

{% block content %}

<section class="container forms">
  <div class="form login">
    <div class="form-content">
      <h1>Login Club Committee</h1>
      <form method="post">
        {% csrf_token %}
        <div class="field input-field">
          <label>Email</label>
          <input type="email" placeholder="Enter your email" class="input" name="email" required>
        </div>

        <div class="field input-field">
          <label>Password</label>
          <input type="password" placeholder="Enter your password" class="password" name="psw" required>
          <i class='bx bx-hide eye-icon'></i>
        </div>

        <div class="form-link">
          <a href="#" class="forgot-pass">Forgot password?</a>
        </div>

        <div class="field button-field">
          <button>Login</button>
        </div>
      </form>

      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
      {% endfor %}


    </div>


  </div>
</section>

{% endblock content %}


{% block script %}
<script src="{% static 'js/login.js' %}"></script>
{% endblock script %}