{% extends 'base.html' %}
{% load static %}
{% block title %} 
{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/news.css' %}">

{% endblock %}


{% block content %}
<div class="main-wrapper">
    <div class="form-wrapper">
      
        <h2 class="post-title">{{ object.title }}</h2>
        <div class="wrapper">

            <div class="post-preview">
                

                    <h3 class="post-subtitle">{{ object.subtitle }}</h3>

                <p class="post-meta">
                    Posted on {{ object.news_date|date:"F d,Y" }}
                </p>
               
            </div>
            <!-- Divider-->
            <hr class="my-4" />
           
           
            <div class="post-preview">

                
            <p class="post-meta"> {{ object.content|safe }}   </p>

            </div>


        </div>

    </div>
</div>

{% endblock content %}