{% extends 'base.html' %}

{% load static %}
{% block title %}About{% endblock title %}
{% block style %}

<link rel="stylesheet" href="{% static 'css/about.css' %}">

{% endblock %}


{% block content %}


<div class="container">
    <div class="white_bg">

        <section class="banner_main">
            <div class="text-bg">
                <h1>About UAP IJCIT
                </h1>

                <p>UAP IJCIT IS a scholarly international journal published from UAP Office of Research and Publication
                    (ORP). IJCIT is a joint publication of the UAP Faculty of Science and Information Technology and the
                    UAP Faculty of Engineering. This journal publishes original, empirical and innovative works in
                    basic, functional and support areas of science, technology and engineering disciplines. It is
                    primarily devoted to the extension and further development and dissemination of knowledge in the
                    field of science and engineering for the benefit of academics as well as practicing enterprises
                    based on research and development [R&D].

                    IJCIT has a long history of publishing journal in print since August 2002. It has published 15
                    volumes in printed version. In the year 2017, ORP has decided to publish three ONLINE issues in a
                    year and the combining three issues, each volume will be published in printed form. The online
                    papers will be published as an Open Access initiative and will be indexed in multiple international
                    academic databases. </p>
            </div>

        </section>
    </div>
</div>
{% endblock content %}

